#project-sec
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 150px 0px;
    margin-left: 50px;
}
#project-grid
{
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    height: 50vh;
}
#category-list
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.project-category {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    width: max-content;
}
.project-category:hover{
    cursor: pointer;
}
.project-category::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary); 
    transition: width 0.3s ease;
}

.project-category:hover::after {
    width: 100%;
}
.tag
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--darker);
    padding: 8px 15px;
    margin: 0px -10px;
    width: 25%;
    text-align: center;
}
.tag::before /* skewing background causes blurry text */
{
    content :'';
    position:absolute;
    top:0; left:4%;
    width:100%; height:100%;
    border: 2px solid var(--darker);
    background: #ffde84;
    transform-origin:0 0;
    transform:skew(-10deg);
    z-index:-1;
}